<ol id="chat-log">
  <li class="message flexcol " data-message-id="RzeaI2ACppfj3Dg8">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 1h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>
    </header>
    <div class="message-content">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">4d5</div>
          <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
              <div class="dice">
                <p class="part-formula">
                  4d5
                  <span class="part-total">15</span>
                </p>
                <ol class="dice-rolls">
                  <li class="roll die d5">3</li>
                  <li class="roll die d5">3</li>
                  <li class="roll die d5">4</li>
                  <li class="roll die d5 max">5</li>
                </ol>
              </div>
            </section>
          </div>

          <h4 class="dice-total">15</h4>
        </div>
      </div>

    </div>
  </li>

  <li class="message flexcol " data-message-id="cEQPbSb2eqWGa0vT" style="border-color:#2839cc">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 1h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>


    </header>
    <div class="message-content">
      Hello!
    </div>
  </li>
  <li class="message flexcol " data-message-id="wkgb9J4yo0EaH7UB">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 1h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>


    </header>
    <div class="message-content">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">4df</div>
          <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
              <div class="dice">
                <p class="part-formula">
                  4df
                  <span class="part-total">0</span>
                </p>
                <ol class="dice-rolls">
                  <li class="roll fatedie d3 min">-</li>
                  <li class="roll fatedie d3 min">-</li>
                  <li class="roll fatedie d3 max">+</li>
                  <li class="roll fatedie d3 max">+</li>
                </ol>
              </div>
            </section>
          </div>

          <h4 class="dice-total">0</h4>
        </div>
      </div>

    </div>
  </li>
  <li class="message flexcol whisper" data-message-id="s2lxWSK52FZ9wHSy">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 0h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>


    </header>
    <div class="message-content">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">1d50</div>
          <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
              <div class="dice">
                <p class="part-formula">
                  1d50
                  <span class="part-total">8</span>
                </p>
                <ol class="dice-rolls">
                  <li class="roll die d50">8</li>
                </ol>
              </div>
            </section>
          </div>

          <h4 class="dice-total">8</h4>
        </div>
      </div>

    </div>
  </li>
  <li class="message flexcol whisper blind" data-message-id="Olda4hNu95vnljv4">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 0h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>


    </header>
    <div class="message-content">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">1d50</div>
          <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
              <div class="dice">
                <p class="part-formula">
                  1d50
                  <span class="part-total">38</span>
                </p>
                <ol class="dice-rolls">
                  <li class="roll die d50">38</li>
                </ol>
              </div>
            </section>
          </div>

          <h4 class="dice-total">38</h4>
        </div>
      </div>

    </div>
  </li>
  <li class="message flexcol whisper" data-message-id="c9zvSDvRTGFvfG4T">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 0h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>


    </header>
    <div class="message-content">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">1d50</div>
          <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
              <div class="dice">
                <p class="part-formula">
                  1d50
                  <span class="part-total">21</span>
                </p>
                <ol class="dice-rolls">
                  <li class="roll die d50">21</li>
                </ol>
              </div>
            </section>
          </div>

          <h4 class="dice-total">21</h4>
        </div>
      </div>

    </div>
  </li>
  <li class="message flexcol " data-message-id="cN7rP5j2MlkAZZo1">
    <header class="message-header flexrow">
      <h4 class="message-sender">Gamemaster</h4>
      <span class="message-metadata">
        <time class="message-timestamp">1d 0h ago</time>
        <a class="button message-delete"><i class="fas fa-trash"></i></a>
      </span>


    </header>
    <div class="message-content">
      <div class="dice-roll">
        <div class="dice-result">
          <div class="dice-formula">1d50</div>
          <div class="dice-tooltip" style="display: block;">
            <section class="tooltip-part">
              <div class="dice">
                <p class="part-formula">
                  1d50
                  <span class="part-total">16</span>
                </p>
                <ol class="dice-rolls">
                  <li class="roll die d50">16</li>
                </ol>
              </div>
            </section>
          </div>

          <h4 class="dice-total">16</h4>
        </div>
      </div>

    </div>
  </li>
</ol>